22-rdf-syntax-ns
dependency-reduced-pom.xml
rdf-schema
results/
*.bin
*.bin.gz
*.class
.classpath
.project
target
bin
.settings
*.log
SemanticWebDogFood
*.val
*.owl
*.result
*.ser
GeologyGraphs
geology
swdf-owls
lgeo
LinkedGeoGraphs
PersonGraph
PersonGraphs
